<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/style1.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>


<body>
    <div class="elipse">
        <div class="logo">
            <a href="{% url 'index'%}"> <img src= "{% static '../media/logo/Ellipse 1.png' %}" height="130" width="130"> </a>

        </div>

    </div>
    <div class="box">
        {% block content%} {% endblock%}


    </div>
</body>




</html>