{% extends './static/usuarios/html/base_interna.html'%}
{% load static %}

{% block content%}

    <div class="box">
        <button><a href="{% url 'homepage'%}">Voltar</a></button>
        <form method="POST" action="{% url 'dados_cliente' %}">{% csrf_token %}
            <input type="number" name="cliente_id" value="{{cliente_id}}" hidden>
            <a>Braço: <select class="barra" name="braco">
                     <option value="" disabled selected >Treino Braço</option>
                     <option value="3 séries, 8 repetições" >3 séries, 8 repetições</option>
                     <option value="3 séries, 12 repetições" >3 séries, 12 repetições</option>
                     <option value="3 séries, 15 repetições" >3 séries, 15 repetições</option>
                     <option value="4 séries, 8 repetições" >4 séries, 8 repetições</option>
                     <option value="4 séries, 12 repetições" >4 séries, 12 repetições</option>
                     <option value="4 séries, 15 repetições" >4 séries, 15 repetições</option>
                      </select>
            </a>
            <br>
            <br>
            <a>Perna: <select class="barra" name="perna">
                     <option value="" disabled selected >Treino Perna</option>
                     <option value="3 séries, 8 repetições" >3 séries, 8 repetições</option>
                     <option value="3 séries, 12 repetições" >3 séries, 12 repetições</option>
                     <option value="3 séries, 15 repetições" >3 séries, 15 repetições</option>
                     <option value="4 séries, 8 repetições" >4 séries, 8 repetições</option>
                     <option value="4 séries, 12 repetições" >4 séries, 12 repetições</option>
                     <option value="4 séries, 15 repetições" >4 séries, 15 repetições</option>
            </select> </a>
            <br>
            <br>
            <a>Peito: <select class="barra" name="peito">
                     <option value="" disabled selected >Treino Peito</option>
                     <option value="3 séries, 8 repetições" >3 séries, 8 repetições</option>
                     <option value="3 séries, 12 repetições" >3 séries, 12 repetições</option>
                     <option value="3 séries, 15 repetições" >3 séries, 15 repetições</option>
                     <option value="4 séries, 8 repetições" >4 séries, 8 repetições</option>
                     <option value="4 séries, 12 repetições" >4 séries, 12 repetições</option>
                     <option value="4 séries, 15 repetições" >4 séries, 15 repetições</option>
            </select> </a>
            <br>
            <br>
            <a>Costa: <select class="barra" name="costa">
                     <option value="" disabled selected >Treino Costa</option>
                     <option value="3 séries, 8 repetições" >3 séries, 8 repetições</option>
                     <option value="3 séries, 12 repetições" >3 séries, 12 repetições</option>
                     <option value="3 séries, 15 repetições" >3 séries, 15 repetições</option>
                     <option value="4 séries, 8 repetições" >4 séries, 8 repetições</option>
                     <option value="4 séries, 12 repetições" >4 séries, 12 repetições</option>
                     <option value="4 séries, 15 repetições" >4 séries, 15 repetições</option>
            </select> </a>
            <br>
            <br>
           <a>Glúteo: <select class="barra" name="gluteo">
                     <option value="" disabled selected >Treino Glúteo</option>
                     <option value="3 séries, 8 repetições" >3 séries, 8 repetições</option>
                     <option value="3 séries, 12 repetições" >3 séries, 12 repetições</option>
                     <option value="3 séries, 15 repetições" >3 séries, 15 repetições</option>
                     <option value="4 séries, 8 repetições" >4 séries, 8 repetições</option>
                     <option value="4 séries, 12 repetições" >4 séries, 12 repetições</option>
                     <option value="4 séries, 15 repetições" >4 séries, 15 repetições</option>
            </select> </a>
            <br>
            <br>
            <input type="submit" class="add" value="Adicionar">
            <button class="confirma">Adicionar</button>
        </form>

    </div>



{% endblock%}