{% extends './static/usuarios/html/base_interna.html'%}
{% load static %}

{% block content%}

    <div class="box">
        <a class="titulo">Lista Atividades</a>
        <div class="atividades">
            {% for e in exercicio %}
                <div class="block">
                    <p>braco: {{e.braco}}</p>
                    <br>
                    <p>perna: {{e.perna}}</p>
                    <br>
                    <p>peito: {{e.peito}}</p>
                    <br>
                    <p>costa: {{e.costa}}</p>
                    <br>
                    <p>gluteo: {{e.gluteo}}</p>
                </div>
            <a href="/excluir_exercicio/{{e.id}}/">
                    <button type="button">Excluir</button>
                </a>

            {% endfor %}
        </div>

    </div>

{% endblock%}