{% extends './static/usuarios/html/base_interna.html'%}
{% load static %}

{% block content%}

    <div class="box">
        <a class="titulo">Lista de Alunos</a>
        <a class="adiciona" href="{% url 'cadastro_cliente'%}"> Adicionar Novo</a>
        <div class="users">
            {% for c in cliente %}
                <div class="block">
                    <a href="/cliente_detalhe/{{c.id}}"> <p>Nome: {{c.nome}}</p> </a>
                    <p>Email: {{c.email}}</p>
                    <a href="/dados_detalhe/{{c.id}}" style="color: blue;">Exercicios</a>
                </div>

            {% endfor %}

        </div>

    </div>
    <div>
        <a class="saudacao">Olá {{ user.username }}, seja bem vindo(a)! </a>
    </div>


{% endblock%}