{% extends './static/usuarios/html/base.html'%}
{% load static %}

{%block title%} Cadastre-se {% endblock title%}

{%block content%}
<form method="POST" action="{% url 'login' %}">{% csrf_token %}
    <title>Login</title>
    <input class="barra" type="text" placeholder="Digite seu nome" name="nome" required>
    <br>
    <br>
    <input class="barra" type="password" placeholder="Digite sua senha" name="senha" required>
    <br>
    <br>
    <button class="confirma">Logar</button>
    <br>
    <br>
    <br>
    <h1 class="texto"> Ainda não tem uma conta? <a href="{% url 'cadastro'%}">Cadastre-se</a></h1>
    <br>
    {% for message in messages%}
        <div class="alert" >
            <strong >Error!</strong>{{message}}
        </div>
    {%endfor%}

</form>

{% endblock %}