{% extends './static/usuarios/html/base.html'%}
{% load static %}

{%block content%}
<form method="POST" action="{% url 'login_cliente' %}">{% csrf_token %}
    <title>Login</title>
    <input class="barra" type="text" placeholder="Digite seu nome" name="nome" required>
    <br>
    <br>
    <input class="barra" type="email"  placeholder="Digite seu email" name="email" required>
    <br>
    <br>
    <button class="confirma">Logar</button>
    <br>
    <br>
    {% for message in messages%}
        <div class="alert" >
            <strong >Error!</strong>{{message}}
        </div>
    {%endfor%}

</form>

{% endblock %}